[Desktop Entry]
Version=1.0
Type=Application

Name=Lemme Read
Comment=Gnome application to read posts and comments from the lemmy network.
Categories=Network;Feed;

Icon=io.github.mjdiliscia.lemmeread
Exec=LemmeRead
Terminal=false
