#card {
	background-color: white;
	border-radius: 20px;
  box-shadow: 0px 0px 15px -7px;
	padding: 10px;
}

#communityName {
	font: 20px Sans;
}

#postTitle {
	font: 25px Sans;
	font-weight: bold;
}

label.content {
  color: black;
}

#username {
  color: #986a44;
  font-style: italic;
}
